nav a:hover{
    color: white;
}

.infgeneral{
    display: flex;
    justify-content:right ;
    position: relative;
    top:20px
 }
 .inicio{
    position: relative;
    display: flex;
    justify-content: left;
    top: 120px;
    margin-left: 50px;
 }
 .binicio{
    padding: 20px 50px;
    font-size: 1.5rem;
    border-radius: 50px;
    position: relative;
    background-color:#c0d1c2 ;
    border-color: #c0d1c2;
    color: white;
    transition: transform 0.3s ease;  
}
 .binicio::after, .boton3::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #c0d1c2;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
 }
 .binicio :hover{
    transform: translate(-12px, -12px);
 }
 .binicio:hover::after{
    transform: translate(6px, 6px);
 }
 .binicio:hover::before{
    transform: translate(12px, 12px);
 }