.saludo {
  
    position: relative;
    display: flex;
    color: black;
    top: 15px;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.botones {
  
    position: relative;
    display: flex;
    align-items: center;
    top: 1px;
    justify-content: center;
}

.botones1 {
    position: relative;
    display: inline;
    top: 30px;
    padding: 20px;

}

.botones2 {
    position: relative;
    display: inline;
    top: 30px;
    padding: 20px;
    color: white;
}

.boton3 {
    padding: 20px 50px;
    font-size: 1.5rem;
    border-radius: 50px;
    position: relative;
    background-color: #c0d1c2;
    border-color: #c0d1c2;
    color: white;
    transition: transform 0.3s ease;

}

.boton3::after,
.boton3::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #c0d1c2;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.boton3 :hover {
    transform: translate(-12px, -12px);
}

.boton3:hover::after {
    transform: translate(6px, 6px);
}

.boton3:hover::before {
    transform: translate(12px, 12px);
}

.post {

    position: relative;
    display: flex;
    padding-top: 10px;
    top: 10px;
    align-items: center;
    justify-content: center;
}

.img1 {
    height: 300px;
    padding: 20px;
}

.infgeneral {
    display: flex;
    justify-content: right;
    position: relative;
    top: 20px
}

ul {
    list-style: none;
}

.piepago {
    display: flex;
    justify-content: left;
    width: 50px;
    height: 26px;
    margin: 0px 5px 5px 0px;
    position: relative;
    top: 100px;
}

@media (max-width:700px) {
    heder {
        flex-direction: column;
    }
}

